.chat-bot-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25%; /* El chatbot ocupará el 25% de ancho de la página */
    max-width: 400px; /* Máximo ancho */
    min-width: 250px; /* Mínimo ancho */
    height: 30vh; /* Altura basada en el 30% del tamaño de la ventana */
    max-height: 500px; /* Máxima altura */
    min-height: 300px; /* Mínima altura */
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.chat-body {
    height: calc(100% - 50px); /* Ajustar dejando espacio para el encabezado */
    overflow-y: auto; /* Permitir scroll si es necesario */
}

.chat-header {
    height: 50px; /* Tamaño fijo para el encabezado */
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}